In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

from plotly import express as exp

from plotly import graph_objects as go

import datetime as dt

from joblib import dump, load

In [2]:
lar_df = pd.read_csv(r"D:\py_projects\san_francisco_public_data\san_francisco_crimes_data_from_2018\larceny_cases_from_2018_dropped.csv")


neigh_df = pd.read_csv("./san_francisco_crimes_data_from_2018/address_list_neigh.csv")


lar_df.shape, neigh_df.shape

((192023, 15), (192023, 4))

In [3]:
neigh_df.head(3)

   latitude_  longitude_       neighborhood  zipcode
0  37.718634 -122.441318    Mission Terrace  94112.0
1  37.805497 -122.422007  Fisherman's Wharf  94109.0
2  37.748212 -122.415863     Bernal Heights  94110.0

In [4]:
neigh_df.neighborhood.isna().sum()

4499

In [5]:
lats = lar_df.latitude.values.tolist()

longs = lar_df.longitude.values.tolist()

In [6]:
zips = []

neighs = []

for i in range(len(lats)):
    
    try:
        
        zips.append(neigh_df[(neigh_df.latitude_ == lats[i]) & (neigh_df.longitude_ == longs[i])]["zipcode"].values[0])
        
    
    except:
        
        zips.append(np.nan)
    
    
    try:
        neighs.append(neigh_df[(neigh_df.latitude_ == lats[i]) & (neigh_df.longitude_ == longs[i])]["neighborhood"].values[0])
        
        
    except:
        
        neighs.append(np.nan)

In [7]:
len(zips)

192023

In [8]:
lar_df["zipcode"] = zips

lar_df["neighborhood"] = neighs

In [9]:
lar_df.head(5)

,incident_datetime,incident_date,incident_time,incident_hour,incident_month,incident_year,incident_day_of_week,report_datetime,incident_id,incident_category,incident_subcategory,resolution,police_district,latitude,longitude,zipcode,neighborhood
0,2021-05-08 17:00:00,2021-05-08,17:00,17,5,2021,Saturday,2021-05-15 20:13:00,1030540,Larceny Theft,From Vehicle,Open or Active,Ingleside,37.718634,-122.441318,94112.0,Mission Terrace
1,2021-05-15 17:00:00,2021-05-15,17:00,17,5,2021,Saturday,2021-05-15 20:45:00,1030556,Larceny Theft,From Vehicle,Open or Active,Central,37.805497,-122.422007,94109.0,Fisherman's Wharf
2,2021-05-14 10:30:00,2021-05-14,10:30,10,5,2021,Friday,2021-05-15 20:02:00,1030534,Larceny Theft,From Vehicle,Open or Active,Mission,37.748212,-122.415863,94110.0,Bernal Heights
3,2021-05-14 14:49:00,2021-05-14,14:49,14,5,2021,Friday,2021-05-15 00:05:00,1030398,Larceny Theft,From Vehicle,Open or Active,Southern,37.784007,-122.404865,94103.0,Soma
4,2021-05-15 16:24:00,2021-05-15,16:24,16,5,2021,Saturday,2021-05-15 20:55:00,1030563,Larceny Theft,From Vehicle,Open or Active,Central,37.807073,-122.417261,94133.0,Fisherman's Wharf

In [11]:
neigh_df[(neigh_df.latitude_ == lats[0]) & (neigh_df.longitude_ == longs[0])]

        latitude_  longitude_     neighborhood  zipcode
0       37.718634 -122.441318  Mission Terrace  94112.0
12613   37.718634 -122.441318  Mission Terrace  94112.0
26635   37.718634 -122.441318  Mission Terrace  94112.0
28660   37.718634 -122.441318  Mission Terrace  94112.0
123208  37.718634 -122.441318  Mission Terrace  94112.0
126646  37.718634 -122.441318  Mission Terrace  94112.0
127324  37.718634 -122.441318  Mission Terrace  94112.0
157434  37.718634 -122.441318  Mission Terrace  94112.0
161644  37.718634 -122.441318  Mission Terrace  94112.0
171628  37.718634 -122.441318  Mission Terrace  94112.0
171704  37.718634 -122.441318  Mission Terrace  94112.0
187563  37.718634 -122.441318  Mission Terrace  94112.0

In [12]:
neigh_df[(neigh_df.latitude_ == lats[1]) & (neigh_df.longitude_ == longs[1])]

        latitude_  longitude_       neighborhood  zipcode
1       37.805497 -122.422007  Fisherman's Wharf  94109.0
22      37.805497 -122.422007  Fisherman's Wharf  94109.0
127     37.805497 -122.422007  Fisherman's Wharf  94109.0
312     37.805497 -122.422007  Fisherman's Wharf  94109.0
320     37.805497 -122.422007  Fisherman's Wharf  94109.0
...           ...         ...                ...      ...
191753  37.805497 -122.422007  Fisherman's Wharf  94109.0
191781  37.805497 -122.422007  Fisherman's Wharf  94109.0
191793  37.805497 -122.422007  Fisherman's Wharf  94109.0
191932  37.805497 -122.422007  Fisherman's Wharf  94109.0
191983  37.805497 -122.422007  Fisherman's Wharf  94109.0

[1382 rows x 4 columns]

In [13]:
neigh_df[(neigh_df.latitude_ == lats[2]) & (neigh_df.longitude_ == longs[2])]

        latitude_  longitude_    neighborhood  zipcode
2       37.748212 -122.415863  Bernal Heights  94110.0
2341    37.748212 -122.415863  Bernal Heights  94110.0
3627    37.748212 -122.415863  Bernal Heights  94110.0
17374   37.748212 -122.415863  Bernal Heights  94110.0
25679   37.748212 -122.415863  Bernal Heights  94110.0
29706   37.748212 -122.415863  Bernal Heights  94110.0
33317   37.748212 -122.415863  Bernal Heights  94110.0
40724   37.748212 -122.415863  Bernal Heights  94110.0
46473   37.748212 -122.415863  Bernal Heights  94110.0
48862   37.748212 -122.415863  Bernal Heights  94110.0
49345   37.748212 -122.415863  Bernal Heights  94110.0
58878   37.748212 -122.415863  Bernal Heights  94110.0
71551   37.748212 -122.415863  Bernal Heights  94110.0
105719  37.748212 -122.415863  Bernal Heights  94110.0
109789  37.748212 -122.415863  Bernal Heights  94110.0
109920  37.748212 -122.415863  Bernal Heights  94110.0
114045  37.748212 -122.415863  Bernal Heights  94110.0
116653  37.748212 -122.415863  Bernal Heights  94110.0
117346  37.748212 -122.415863  Bernal Heights  94110.0
126029  37.748212 -122.415863  Bernal Heights  94110.0
130744  37.748212 -122.415863  Bernal Heights  94110.0
150969  37.748212 -122.415863  Bernal Heights  94110.0
162360  37.748212 -122.415863  Bernal Heights  94110.0
166237  37.748212 -122.415863  Bernal Heights  94110.0
170146  37.748212 -122.415863  Bernal Heights  94110.0
173801  37.748212 -122.415863  Bernal Heights  94110.0
180660  37.748212 -122.415863  Bernal Heights  94110.0
186574  37.748212 -122.415863  Bernal Heights  94110.0
191851  37.748212 -122.415863  Bernal Heights  94110.0

In [14]:
neigh_df[(neigh_df.latitude_ == lats[3]) & (neigh_df.longitude_ == longs[3])]

        latitude_  longitude_ neighborhood  zipcode
3       37.784007 -122.404865         Soma  94103.0
91      37.784007 -122.404865         Soma  94103.0
170     37.784007 -122.404865         Soma  94103.0
337     37.784007 -122.404865         Soma  94103.0
410     37.784007 -122.404865         Soma  94103.0
...           ...         ...          ...      ...
191295  37.784007 -122.404865         Soma  94103.0
191334  37.784007 -122.404865         Soma  94103.0
191586  37.784007 -122.404865         Soma  94103.0
191627  37.784007 -122.404865         Soma  94103.0
191633  37.784007 -122.404865         Soma  94103.0

[543 rows x 4 columns]